body {
	margin: 0;
  	font-family: "Lexend";
	background-color: linear-gradient(to right, #d3c6d3, #c6cee0);
	animation: moveGradient 5s linear infinite;
	color: #000000;
}

.Heading0 {
	font-size: 1vw;
	position: relative;
	width: 100vw;
	top: 20vw;
	transform: translateY(-50%);
	text-align: center;
}

.logo-1 {
	width: 25vw;
	height: 25vw;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
