body {
	margin: 0;
  	font-family: "Lexend";
	background-color: #cccccc;
	color: #000000;
}

.Heading0 {
	font-size: 1vw;
	position: relative;
	width: 100vw;
	top: 20vw;
	transform: translateY(-50%);
	text-align: center;
}
