@import url('https://fonts.googleapis.com/css?family=Lexend');

body {
	margin: 0;
  font-family: "Lexend";
	background-color: #cccccc;
	color: #000000;
}

.a {
	font-size: 1vw;
	position: relative;
	width: 100vw;
	top: 20vw;
	transform: translateY(-50%);
	text-align: center;
}
